/*tailwind import*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Roboto+Slab:wght@300&display=swap');

@layer base{
    body{
        @apply font-[Libre-Franklin];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

.div-content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.div-content:hover {
    background-image: linear-gradient(to right, rgba(238, 240, 115, 0.8), 
    rgba(252, 235, 0, 0.8))!important;
    
}